<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="13" name="Shopify Test">
  <classes>
       <class name="com.shopify.ShopifyTest.BOGOTest"/>
       <class name="com.shopify.ShopifyTest.BulkTest"/>
       <class name="com.shopify.ShopifyTest.BundleTest"/>
       <class name="com.shopify.ShopifyTest.DiscountTest"/>
       <class name="com.shopify.ShopifyTest.GiftWithPurchase"/>
       <class name="com.shopify.ShopifyTest.GoalTest"/>
       <class name="com.shopify.ShopifyTest.LimitedTimeTest"/>
       <class name="com.shopify.ShopifyTest.MultiBuyTest"/>
       <class name="com.shopify.ShopifyTest.UpSellCross_sellTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
